<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form method="post" th:object="${postEdit}" th:action="@{|/posts/${postId}/edit?page=${page}|}">
        <input type="text" th:value="${post.id}" readonly>

        <input type="text" th:value="${post.title}" th:fields="*{title}">
        <div th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></div>

        <input type="textarea" th:value="${post.content}" th:fields="*{content}">
        <div th:if="${#fields.hasErrors('content')}" th:errors="*{content}"></div>

        <button type="submit">수정하기</button>
        <button type="button"><a th:href="@{|/posts/${postId}?page=${page}|}">뒤로가기</a></button>

    </form>
</body>
</html>