<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form method="post" th:object="${post}" th:action="@{|/posts/${postId}/edit?page=${page}|}">
        <input type="text" th:field="*{id}" readonly>

        <div>
            <label for="title">제목</label>
            <input type="text" id="title" th:field="*{title}">
            <div th:errors="*{title}"></div>
        </div>
        <div>
            <label for="content">상품명</label>
            <input type="text" id="content" th:field="*{content}">
            <div th:errors="*{content}"></div>
        </div>

        <button type="submit">수정하기</button>
        <button type="button"><a th:href="@{|/posts/${postId}?page=${page}|}">뒤로가기</a></button>

    </form>
</body>
</html>